body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: rgb(215, 249, 220);
}

header {
    background-color: rgb(33, 121, 3);
    font-family: serif;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.nav_list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.nav_list li {
    display: inline;
    margin: 0 20px;
}

.nav_list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 30px;
    text-align: center;
    font-family: sans-serif;
    background-color: white;
}

.my_image {
    width: 200px;
    border: 2px solid #067227a4;
}

.skills {
    background-color: rgb(193, 244, 196);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.skill_list {
    list-style: none;
    padding: 0;
    font-weight: bold;
}

.skill_list li {
    background-color: #046b04a4;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;

}

.portfolio {
    background-color: rgb(193, 244, 196);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.portfolio h2 {
    border-bottom: 3px solid #045b1f;
    display: inline-block;
    /*要素をブロック化*/
    padding-bottom: 5px;
}

.portfolio_img {
    display: flex;
    /*要素を横並びに*/
    justify-content: center;
    /*横方向で中央揃え*/
    gap: 20px;
    /*それぞれの要素同士の間隔を設定*/
    margin-top: 20px;
}

.portfolio_img img {
    width: 200px;
    height: 150px;
    border: 2px solid rgb(2, 71, 15);
    background-color: white;
}

.contact_form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

label,
input,
textarea,
button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: rgb(26, 119, 19);
    color: rgb(255, 255, 255);
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.work_list {
    list-style: none;
}

.work_list a {
    text-decoration: none;
    color:black
}

.calculate{
    max-width: 300px;
    margin: auto;
    border: 3px green solid;
    border-radius: 10px;
    background-color: #d8f5e1;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.calculate input{
    width: 100px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: rgb(33, 121, 3);
    color: white;
    margin-top: 30px;
    font-weight: bold;
}